---
layout: default
title: Health Near Me
---

<div id="home" class="col-md-6 col-md-offset-3">    
    <p>Fill out this form to find health providers near a location in Chicago.</p>
    <form name="searchForm">
        <p>
            <label for="providerType">Kinds of Health Provider</label><br/>
            <select name="providerType" ng-model="searchType" id="providerType">
                <option value="all">All</option>
                <option value="0">Condom Distribution Site</option>
                <option value="1">Licensed Substance Abuse Provider</option>
                <option value="2">Mental Health Clinic</option>
                <option value="3">STI Specialty Clinic</option>
                <option value="4">WIC Clinic</option>
            </select>
            
        </p>
        
        <p>
            <label for="distance">Within a certain distance</label><br/>
            <select name="distance" ng-model="dist" id="distance">
                <option value="1609">Less than one mile</option>
                <option value="3218">Less than two miles</option>
                <option value="8046">Less than five miles</option>
                <option value="16093">Less than ten miles</option>            
            </select>        
            
        </p>

        <p>
            <label for="address">Near Chicago street address</label><br/>

            <input type="text" id="address" ng-model="searchLocation" style="width: 500px; font-size: 16pt" length="60" maxlength="120" placeholder="e.g. '1060 W Addison' or 'Madison at State'"/>
            
        </p>
        <p>
            <button type="submit" class="btn btn-primary" ng-click="doGeocode()">search</button>
        </p>        
    </form>

    <p ng-show="geocodeError" class="alert alert-warning">I don't know where that address is. Sorry!</p>
    <p ng-show="noResultsError" class="alert alert-warning">There's nothing near that address. Sorry!</p>
    
    {% raw %}    
    <ol>
        <li ng-repeat="res in searchResults">
            <span class="hp-name">{{ res.name }}</span>
            {{ res.address }}, a {{ res.type_name }}, {{ res.distance | number:1 }} miles away.
        </li>
    </ol>
    {% endraw %}

    <div id="map-canvas" style="width: 480px; height: 120px;"/>
    
</div>