---
layout: default
title: Health Near Me
---

<div id="home" >
    <form name="searchForm">
        <input type="text" ng-model="searchLocation" style="width: 400px; font-size: 16pt" length="60" maxlength="120" placeholder="enter a chicago address"/>
        <button type="submit" ng-click="doGeocode()">geocode</button>
    </form>

    <pre>
        {% raw %}{{ lat }}{% endraw %}
        {% raw %}{{ lon }}{% endraw %}
    </pre>

    <p ng-show="geocodeError">I don't know where that address is. Sorry!</p>
    <p ng-show="noResultsError">There's nothing near that address. Sorry!</p>
        
    <ol>
        <li ng-repeat="res in searchResults">
            {% raw %}{{ res.name }}, {{ res.address }}, {{ res.zip_code }}, {{ res.provider_type}}{% endraw %}
        </li>
    </ol>

    <div id="map-canvas" style="width: 480px; height: 480px;"/>
    
</div>