.hp-name {
    font-size: 16pt;
    font-weight: bold;
    display: block;
}

.hp-row {    
    border-bottom: 1px solid #ccc;    
    margin: 5px 0;
}

.row {
    padding-top: 15px;
}

.root-link {
    color: black;
}