---
layout: none
title: Health Near Me
---

<div ng-controller="SearchCtrl">    
    <div class="row">
      <div class="col-md-12">
        <h2><strong><a href="#/" class="root-link">HealthNear.Me</a></strong> <small>Find public health providers near you</small></h2>
      </div>
    </div>
    <form name="searchForm" class="form">
        <div class="row">
            <div class="col-md-10 col-xs-12" ng-class="{'has-error': !searchForm.$valid && !searchForm.$pristine }">        
                <label for="address" class="control-label">Near street address</label><br/>                
                <input type="text" id="address" ng-model="searchLocation" class="input-lg form-control" maxlength="120" 
                placeholder="e.g. '1060 W Addison' or 'Madison at State, Chicago' or 'Rockford, IL'" required/>                
            </div>
            <div class="col-md-2 col-md-offset-0 col-xs-12 col-xs-offset-0 ">
                <label class="control-label">&nbsp;</label>
                <button type="submit" ng-disabled="!searchForm.$valid" class="btn btn-primary input-lg form-control" ng-click="doGeocode()">search</button>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <label for="providerType" class="control-label">Type of Provider</label><br/>
                <select name="providerType" ng-model="searchType" id="providerType" class="form-control">
                    <option value="0">All</option>
                    <option value="6">Community Service Center</option>
                    <option value="1">Condom Distribution Site</option>
                    <option value="7">Cooling Center</option>
                    <option value="10">Hospital</option>
                    <option value="2">Licensed Substance Abuse Provider</option>
                    <option value="3">Mental Health Clinic</option>
                    <option value="8">Senior Center</option>
                    <option value="4">STI Specialty Clinic</option>
                    <option value="9">Warming Center</option>
                    <option value="5">WIC Clinic</option>
                </select>                
            </div>
            <div class="col-md-6">
                <label for="distance" class="control-label">Within a distance</label><br/>
                <select name="distance" ng-model="dist" id="distance" class="form-control">
                    <option value="1609">Within one mile</option>
                    <option value="3218">Within two miles</option>
                    <option value="8046">Within five miles</option>
                    <option value="16093">Within 10 miles</option>
                    <option value="32186">Within 20 miles</option>
                </select>                        
            </div>
        </div>        
    </form>

    <div class="row" ng-show="geocodeError || noResultsError" style="padding-top: 20px">
        <div class="col-md-12">
            <p ng-show="geocodeError" class="alert alert-warning">I don't know where that address is. Sorry!</p>
            <p ng-show="noResultsError" class="alert alert-warning">There's nothing near that address. Sorry!</p>                    
        </div>
    </div>

    <div class="row" ng-show="noResultsError || geocodeError || !searched">
        <div class="col-md-12">
            <h3>Need some inspiration?</h3>
            <ul>
                <li><a href="#/?l=kedzie%20and%20belmont&amp;typ=9&amp;lat=41.9393619&amp;lon=-87.70772920000002&amp;d=3218&amp;s=1">Warming centers near Kedzie and Belmont</a</li>
                <li><a href="#/?l=2133%20S%20State%20Street&amp;typ=1&amp;lat=41.85355149999999&amp;lon=-87.62709289999998&amp;d=1609&amp;s=1">Condoms near the former Everleigh Club</a></li>
                <li>All services near <a href="#/?l=wrigley%20field&amp;typ=0&amp;lat=41.9486471&amp;lon=-87.6572329&amp;d=1609&amp;s=1">Wrigley Field</a> or <a href="#/?l=us%20cellular&amp;typ=0&amp;lat=41.7900411&amp;lon=-87.60561109999998&amp;d=1609&amp;s=1">US Cellular Field</a></li>
                <li><a href="#/?l=loop&amp;typ=3&amp;lat=41.8786351&amp;lon=-87.62505490000001&amp;d=16093&amp;s=1">Mental health centers in Chicago</a></li>
                <li><a href="#/?l=winfield,%20il&amp;typ=10&amp;lat=41.8616956&amp;lon=-88.16090309999998&amp;d=16093&amp;s=1">Hospitals near Winfield, Illinois</a></li>
            </ul>            
        </div>
    </div>
    

    <div class="row" style="padding-top: 20px">
        <div class="col-md-12">
            {% raw %}    
            <ol style="margin-left: 0; padding-left: 0;">
                <li style="list-style:none;" ng-repeat="res in searchResults" class="hp-row">
                    <p>
                        <span class="hp-name">{{ res.name }}</span>
                        <a target="_blank" title="Show directions in Google Maps" href="https://maps.google.com/?daddr={{ res.address + ',' + res.zip_code  | escape }}&saddr={{ lat | escape }},{{ lon | escape }}">{{ res.address }}, {{ res.city }}, {{ res.state }}</a>, a {{ res.type_name }}, {{ res.distance | number:1 }} miles away.
                    </p>
                    <p ng-if="res.phone">Call: <a href="tel://{{res.phone}}">{{ res.phone }}</a></p>
                    <p ng-if="res.hours_of_operation">Hours: <span class="hours">{{ res.hours_of_operation }}</span></p>                      
                </li>
            </ol>
            {% endraw %}
            
        </div>
    </div>
    
    <div class="row" ng-show="showSMS">
        <div class="col-md-12">
        <p class=" alert alert-info">
            You can search via text message, too! Text <strong><em>list services</em></strong> to <strong><a href="tel://3125483951">312-548-3951</a></strong> to start.
            <a href="#/sms">Learn more about SMS searching &rarr;</a>
            <button type="button" class="close" aria-hidden="true" ng-click="hideSMS()">&times;</button>            
        </p>
        </div>                        
    </div>    
</div>